
<section>
  <h2 id = "about-me-title">About me</h2>
  <div class="container about__container">
    <div class="about__me">
      <div class="about__me-image">
        <div class="dog-walker-pic"> <%= cl_image_tag @dog_walker.photo.key, height: 300, width: 400, crop: :fill %> </div>
      </div>
    </div>

    <div class="about__content">
      <div class="about__cards">
        <article class="about__card ">
        <div class="walker__name">
          <%= @dog_walker.user.full_name.capitalize %>
        </div>
          <p id= "about-me-content"><%= @dog_walker.description%></p>
        <ul class="list-unstyled">
          <li class="walker-city ms-1 mb-2"><i class="fa-solid fa-location-dot"></i> <%= @dog_walker.user.city%></li>
          <li class="walker-price ms-3"><i class="fa-solid fa-dollar-sign"></i> <%= @dog_walker.price %>/h</li>
        </ul>
        </article>
      </div>
      <div class="d-flex align-content-center text-align-end ">
        <%= link_to "Book", new_dog_walker_booking_path(@dog_walker), class: "book__btn"%>
        <%= link_to "Back", dog_walkers_path, class: "back-btn"%>
      </div>
      <%if @dog_walker.user == current_user%>
      <%= button_to "Delete", dog_walker_path(@dog_walker), method: :delete, id: "new-delete", class:"delete-btn mt-3 me-3"%>
      <%end%>
    </div>
    </div>
  </div>
</section>
