<!DOCTYPE html>
<html>
  <head>
    <title>BARKAway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true%>
  </head>

  <body>
  <%# NAVBAR %>
    <nav class="navbar py-4">
      <div class="container-fluid">
      <div id="bark-away-link">
        <a><%= link_to root_path do %>
        <i class="fa-solid fa-paw"></i> Bark_Away</a>
        <% end %>
      </div>

      <!-- search bar-->
        <form class="w-50 me-3" role="search">
          <input type="search" class="form-control rounded-pill" placeholder="Search..." aria-label="Search">
        </form>
        <%= button_to "Home", root_path, method: :get, class: "dropdown-item" %>
        <%= button_to "Sign in", new_user_session_path, data: {turbo_method: :get}, method: :get, class: "dropdown-item" %>
        <%= button_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, method: :delete, class: "dropdown-item" %>

        <div class="dropdown text-end">
          <div class="avatar">

            <%# <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false"> %>
              <%= image_tag "https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" %>

            </a>
          </div>
        </div>
      </div>
    </nav>


<%# END NAVBAR %>

<%= yield %>

<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

    <%# FOOTER %>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto border-top">
    <div class="col-md-4 d-flex justify-content-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      </a>
      <span class="text-muted"><i class="fa-solid fa-paw"></i>BARK_AWAY</span>
    </div>

    <ul class="nav col-md-4 list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </footer>

    <%# END FOOTER %>

  </body>
</html>
